@import url('colors.scss');

.btn-1 {
    width: 177px;
    height: 72px;
    background-color: $veryDarkBlue;
    color: $white;
    &:hover {
        background-color: $darkGrey;
    }
    &:active {
        background-color: $lightGrey;
    }
}

.btn-2 {
    width: 80px;
    height: 80px;
    background-color: $veryDarkBlue;
    color: $white;
    &:hover {
        background-color: $darkGrey;
    }
    &:active {
        background-color: $lightGrey;
    }
}

.btn-3 {
    width: 80px;
    height: 80px;
    background-color: $white;
    color: $white;
    &:hover {
        background-color: $veryLightGrey;
    }
    &:active {
        background-color: $veryDarkBlue;
    }
}